<body>
    <div style="height:fit-content;" class="card m-3 backgroundPoster">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <img [src]="getMovieImageUrl()" class="p-3" style="width: 20rem;">
            </div>
            <div class="col-6 p-3 text-white">
                <h2 class="mt-2">{{movie.title}} ({{movie.release_date}})</h2> 
                <i>{{movie.tagline}}</i>
                <div class="m-4"></div>
                <h6>Overview:</h6>
                <p>{{movie.overview}}</p>
                <h6>Genres:</h6>
                <p>{{getGenres()}}</p> 
                <h6 class="mt-3">Production Countries</h6>
                <p>{{getProductionCountries()}}</p>
                <h6 class="mt-3">Spoken Languages</h6>
                <p>{{getSpokenLanguages()}}</p>
                <h6>Average Vote: </h6> 
                <p>{{movie.vote_average}}</p>
                <h6>Vote Count: </h6>
                <p>{{movie.vote_count}}</p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        
    </div><br>

    <footer class="container-fluid">
        <h4>Production Companies:</h4><br>
        <div class="row mb-6">
            <div *ngFor="let pcompany of movie.production_companies" class="col-auto me-3">
                <img [src]="getProductionCompanyLogoUrl(pcompany.logo_path)"  style="width: 50%;">
            </div>
        </div>
    </footer>
</body>
