<div class="container-fluid ">
  <div class="row">
    <div class="mx-5 mt-3">
      <label for="search" class="me-3"><b>Search:</b></label>
      <p-autoComplete [size]="24" id="search" [(ngModel)]="searchValue" 
        [suggestions]="results" [field]="'original_title'"  
        (onSelect)="onSelectSearchSuggestion($event)" (completeMethod)="onSearch()">
      </p-autoComplete>
    </div>
    <div class="movie__filter--fit-content card mx-5 mt-3 col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <div class="text-center mt-3" role="button">
        <h5>Filter</h5>
      </div>
      <form [formGroup]="movieFilterFormGroup">
        <div class="my-3">
          <label class="ms-3" for="yearCalender">Primary Release Year:</label>
          <p-calendar (onSelect)="onSelectPrimaryReleaseYear($event)" id="yearCalender" class="p-3" view="year"
            dateFormat="yy"></p-calendar>
        </div>
        <p-checkbox class="p-3" label="Include Adults" formControlName="includeAdult" [binary]="true"></p-checkbox>
        <p-checkbox class="p-3" label="Include Video" formControlName="includeVideo" [binary]="true"></p-checkbox>
        <div class="my-3">
          <label class="ms-3" for="yearCalender">Genres:</label>
          <p-multiSelect class="p-3 custom-ms" formControlName="withGenres" [options]="genres" optionLabel="name"
            optionValue="id"></p-multiSelect>
        </div>
      </form>
      <div class="text-center p-3">
        <button class="btn btn-dark" (click)="onFilterButtonClick()">Search</button>
      </div>
    </div>
    <div class="col row">
      <!-- TODO: You can extract below functionalities to seperate components. Cleaner and precise and **SEPERATION of CONCERN(s)  -->
      <!-- TODO: you can use async pipe -->
      <div *ngFor="let movie of movies" class="m-3 movie__card--width">
        <div (click)="onMovieClick(movie.id)" role="button">
          <!-- TODO: DONT bind methods. It will infinitely  -->
          <img [src]="getMoviePosterUrl(movie.poster_path)" alt="Card image cap">
          <div>
            <h5>{{movie.original_title}}</h5>
          </div>
        </div>
      </div>
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="20" [totalRecords]="totalResults"></p-paginator>
    </div>
  </div>
</div>
