:host ::ng-deep .custom-ms
            .p-multiselect-label {
            width: 200px !important;
            word-wrap: break-word;   
            white-space: pre-wrap;  
            display: block;
        }