<div class="container-fluid ">
  <div class="row">
    <div style="height:fit-content;" class="card mx-5 mt-3 col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <div class="text-center mt-3" role="button"><h5>Filter</h5></div>
      <form [formGroup]="movieFilterFormGroup">
        <div class="my-3">
          <label class="ms-3" for="yearCalender">Primary Release Year:</label>
          <p-calendar (onSelect)="onSelectPrimaryReleaseYear($event)" id="yearCalender" class="p-3" view="year" dateFormat="yy"></p-calendar>
        </div>
        <p-checkbox class="p-3" label="Include Adults" formControlName="includeAdult" [binary]="true"></p-checkbox>
      </form>
      <div class="text-center p-3">
        <button class="btn btn-dark" (click)="onFilterButtonClick()">Search</button>
      </div>
      <!-- <p-inputNumber class="p-3" [max]="32" [(ngModel)]="val"></p-inputNumber> -->
    </div>
    <div class="col row">
      <div *ngFor="let movie of movies" class="m-3" style="width: 12rem;">
        <div >
          <img  [src]="generateMoviePosterFullUrl(movie.poster_path)" alt="Card image cap">
          <div>
            <h5>{{movie.original_title}}</h5>
          </div>
        </div>
      </div>
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="20" [totalRecords]="10000"></p-paginator>
    </div>
  </div>
</div>
